@use 'mixins' as *;

.layout-sidebar {
  position: fixed;
  z-index: 999;
  inset-block-start: 6rem;
  inset-inline-start: 2rem;
  inline-size: 20rem;
  block-size: calc(100dvh - 8rem);
  overflow-y: auto;
  padding: 0.5rem 1.5rem;
  border-radius: var(--content-border-radius);
  background-color: var(--surface-overlay);
  user-select: none;
  transition:
    transform var(--layout-section-transition-duration),
    inset-inline-start var(--layout-section-transition-duration);
}

.layout-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;

  .layout-root-menuitem {
    > .layout-menuitem-root-text {
      margin-block: 0.75rem;
      color: var(--text-color-secondary);
      font-size: 0.857rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    a {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0.75rem 1rem;
      border-radius: var(--content-border-radius);
      color: var(--text-color);
      cursor: pointer;
      outline: 0 none;
      transition:
        background-color var(--element-transition-duration),
        box-shadow var(--element-transition-duration);

      .layout-menuitem-icon {
        margin-inline-end: 0.5rem;
      }

      .layout-submenu-toggler {
        margin-inline-start: auto;
        font-size: 75%;
        transition: transform var(--element-transition-duration);
      }

      &.active-route {
        color: var(--primary-color);
        font-weight: 700;
      }

      &:hover {
        background-color: var(--surface-hover);
      }

      &:focus-visible {
        @include focused-inset();
      }
    }

    li.active-menuitem > a .layout-submenu-toggler {
      transform: rotate(-180deg);
    }

    ul {
      overflow: hidden;
      border-radius: var(--content-border-radius);

      li a {
        margin-inline-start: 1rem;
      }

      li li a {
        margin-inline-start: 2rem;
      }

      li li li a {
        margin-inline-start: 2.5rem;
      }
    }
  }
}
